 <style>
  	/*custom font - Montserrat*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/
* {margin: 0; padding: 0;}
/*forcing the body to take 100% height*/
html, body {min-height: 100%;

}
/*a nice BG*/


/*Thumbnail Background*/
.thumb {
	width: 300px; height: 200px; margin: 10px ;
	float:left;
	perspective: 1000px;
}
.thumb a {
	display: block; width: 100%; height: 100%;
	/*double layered BG for lighting effect*/

	/*disabling the translucent black bg on the main image*/
	background-size: 0, cover;
	/*3d space for children*/
	transform-style: preserve-3d;
	transition: all 0.5s;

}
.moldura{
	padding:5px;
	background-color:white;
	height:200px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

}
.moldura:hover{
	padding:5px;
	width:305px;
	background-color:white;
	height:205px;

}
#map {
    height:420px;
    width:60%;
    float:left;
    margin-left:10px;
}
  </style>
  <nav style="background-color:black;padding:10px 10px 10px">		
	<div class="form-group input-group" style="margin:0 auto;width:30%">
         <input class="form-control" ng-model="search" type="text">
         <span class="input-group-btn">
         <button class="btn btn-info" type="button"><i class="glyphicon glyphicon-search "></i></button>
         </span>
    </div>
 </nav>
 <div id="content"><div class="ic"></div>

  <br/>

<div class="container" style="width:95%;padding:0px;background-color:white;padding:10px;-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px; margin-left:30px;">
            	
            	
            	<div style="width:99%;border-bottom:2px solid #4682B4">{{evento.titulo}}</div>
            	<br/>
            	<div><a class="group1" href="uploads/{{evento.imgCapa}}" title="{{evento.descricao}}"><img style="float:left" src="miniaturas/{{evento.imgCapa}}" width="450"></a><div id="map"></div></div>
            	<br>
            	<br>
            	<br>
            	<br>
            	

          </div>
  </div>
  